.navbar{
    background-color: rgb(0, 176, 80);
    font-family: Arial;
    overflow: hidden;
    padding: 10px;
}
.navbar a{
    float: right;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 14px 16px;
    font-size: 16px;

}
.dropdown{
    float: right;
    overflow: hidden;
}
.dropbtn{
    border: none;
    background-color: inherit;
    color: black;
    outline: none;
    font-size: 16px;
    font-family: inherit;
    margin: 0;
    padding: 14px 16px;
  
    
}

.active, .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: whitesmoke;
}
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content a:hover {
    background-color: #ddd;
 }
 .dropdown:hover .dropdown-content {
    display: block;
 }
 .active{
  background-color: yellowgreen;
 }
 
 #header{
    color:green;
    text-align: center;
    font-weight: 600;
    font-family: serif;
    font-size: 50px;
 }
 .intro{

    padding-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 }
 .values{
    text-align: center;
 }
 .core{
    border: solid green; 
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

 }
 #corehead{
   text-align: center;
 }
 #header2{
    text-align: center;
    color: green;
    font-size: 30px;
 }
 .foot{
    background-color: black;
    display: flex;
    gap: 30px;
    color:white;
 }
 .about h2, h1{
   color: green;
 }
 .about-head{
   text-align: center;
   border: solid green;
   margin-left: 35%;
   margin-right: 35%;
   background-color: rgb(0, 176, 80);
   font-size: larger;
   font-weight: bolder;
 }
 #abhead{
   text-align: center;

 }
 .abpar{
   font-size: 18px;
 }
 #aboutimg{
   height: 250px;
   width: 50%;
   text-align: center;
 }
 img{
   height: 50px;
   width: 100px;
 }
 #logo{
   text-align: center;
   padding: 10px 10px;
   float: left;
}
.serv{
  border: solid green;
  border-radius: 75%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  font-size: larger;
  font-weight: bold;
  
}
#servdiv{
  display: grid;
  gap: 10px;
}
#servhead{
  text-align: center;
}





